.App {
  text-align: center;

}

.data {
  background-color: black;
  border-radius: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  align-items: center;
  background-color: white;
  width: 30%;
  height: 30%;
  padding: 20px;
  border-radius: 5px;
}

.modal-content  {
  font-size: large;
  color: black;
}

.lol {
  font-size: x-large;
  color: black;
}

.modal-content p {
  margin-top: 20px;
  margin-bottom: 10px;
}

.modal-content button {
  margin-top: 60px;
  width: 30%;
}

.centrado {
  position: fixed;
  justify-content: center;
  align-items: center;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
